header {
  text-align: center;
}

h1 {
font-size: 50px;
}

li {
  text-align: center;
  list-style-position: inside;
}

h3.intro {
  font-style: italic;
  border-bottom: 3px solid black;
}

.text{
  color: green
}

body{
  background-color:lightgray;
  text-align: center;
}


p {
  font-weight: bold
}

p .sidebar2 {
  font-weight: bold;
  text-align: left;
}

.cupcake {
  /* width: 200px; */
  height: 150px;
  display: flex;
  margin: 0 auto;
}

.test {
  background-color:white;
}

.cupcake2 {
  height: 100px;
  display: flex;
  margin: 0 auto;
  float:left;
}

.sidebar {
  float: right;
  background-color: brown
}

.column {
  width: 300px;
  float: left;
}
